<TwitchBotConfig
      botName="Sandroid"
      broadcaster="simple_sandman"
      currencyType="NaCl"
      discordLink="https://discord.gg/XeNTzSQ"
      enableDisplaySong="false"
      enableTweets="true"
      enablePersonalPlaylistShuffle="true"
      libVLCAudioOutputDevice="VM Cable-A Output (VB-Audio Cable A)"
      regularFollowerHours="30"
      spotifyClientId="87e0c850e3334b09aecab2db5ab2619c"
      spotifyRedirectUri="http://localhost:4002"
      spotifyServerUri="http://localhost:4002"
      streamLatency="2"
      twitchBotApiLink="http://localhost:57336/api/"
      twitchOAuth="oauth:8u0b61gcv00i24ct91i1nwsumatx68"
      twitchClientId="3wx5ucli5mvl7ozytb8tksm09gokq9j"
      twitchAccessToken="186b49t2qdlw2fejp1zxcv4a2226sb"
      twitterConsumerKey="7RkaUJVE9mR9wnrUjnX4aP3yc"
      twitterConsumerSecret="TMan3qX2JJHzXKzUYhbdE3Eg6hemc1zDefE7WANGbEwuX42MQ8"
      twitterAccessToken="2376536419-yKjtWoCiPqTZrx9Z05ZQqlU2hY3fDql8hMp5mIf"
      twitterAccessSecret="7pAiZFNdtE4OiL5j4Qio0H0z4246Rpx4nwg2lOjPt9Fmk"
      youTubeClientId="524417207237-tuapuf064s7mvogeqr1n30vqvj6a5q49.apps.googleusercontent.com"
      youTubeClientSecret="ANAVsUncmS9AXcm2MCSyJ-bM"
      youTubeBroadcasterPlaylistId=""
      youTubeBroadcasterPlaylistName="Twitch Song Requests" />