<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net471" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net471" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net471" />
  <package id="CefSharp.Wpf" version="69.0.0" targetFramework="net471" />
  <package id="Google.Apis" version="1.36.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.36.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.36.1" targetFramework="net461" />
  <package id="Google.Apis.YouTube.v3" version="1.36.1.1226" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="RestSharp" version="106.5.4" targetFramework="net461" />
</packages>