<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TwitchBot.Properties.Settings>
      <setting name="botName" serializeAs="String">
        <value />
      </setting>
      <setting name="broadcaster" serializeAs="String">
        <value />
      </setting>
      <setting name="twitchOAuth" serializeAs="String">
        <value />
      </setting>
      <setting name="twitchClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="twitchAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="twitterConsumerKey" serializeAs="String">
        <value />
      </setting>
      <setting name="twitterConsumerSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="twitterAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="twitterAccessSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="discordLink" serializeAs="String">
        <value />
      </setting>
    </TwitchBot.Properties.Settings>
  </userSettings>
</configuration>
