<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TwitchBotConfig" type="TwitchBotConsoleApp.Config.TwitchBotConfigurationSection, TwitchBotConsoleApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <TwitchBotConfig configSource="AppConfigSecrets.config" />
</configuration>